# .coveragerc to control coverage.py
[run]
branch = True
# ignore imported modules and classes that will otherwise lower coverage.
omit = *clint*, models/person.py, models/room.py , *ctypes* , *sqlalchemy*, *decimal*, *numbers*, *databases*, *sqlite3*